<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/element.css" />
    <script src="../../js/vue@3.js"></script>
    <script src="../../js/element-plus.js"></script>
    <script src="../../js/axios.min.js"></script>
    <link rel="stylesheet" href="./index.css">
    <script src="../../index.js"></script>
</head>
<body>
    
    <div id="app">
        <el-button type="primary" @click="href('goods-page.html')">返回</el-button>
        <div>
            <el-input placeholder="名称" v-model="form.name"></el-input>
            <el-input placeholder="描述" v-model="form.description"></el-input>
            <div><el-input-number placeholder="价格" v-model="form.price" :min="0" :max="100"  /></div>
            <el-select v-model="form.status" placeholder="状态">
                <el-option v-for="item in status" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <el-select v-model="form.goodsSortId" placeholder="分类">
                <el-option v-for="item in goodsSortList" :key="item.id" :label="item.name" :value="item.id"></el-option>
            </el-select>
            <el-upload
                v-model:file-list="fileList"
                :action="uploadUrl"
                :headers="headers"
                :data="uploadData"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove"
                :on-success="handleSuccess"
            >
            <el-icon><svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" data-v-ea893728=""><path fill="currentColor" d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64h352z"></path></svg></el-icon>
          </el-upload>
          <el-dialog v-model="dialogVisible">
            <img w-full :src="dialogImageUrl" alt="Preview Image" style="width: 100%;"/>
          </el-dialog>
            <el-button @click="saveGoods" style="width: 100%; background-color:rgb(0, 8, 255); color: #fff;">添加</el-button>
        </div>
    </div>

    <script>
        
        const App = {
            data() {
                return {
                    dialogVisible: false,
                    goodsSortList: [],
                    FileUserList: [],
                    form: {
                        goodsImages: []
                    },
                    status: [{value: 0,name: "出售中"},{value: 1,name: "停止出售"}],
                    fileList: [],
                    headers: {
                        Authorization: token,  // 设置请求头中的 Token
                    },
                    uploadData: {
                        "fileUseId": null // 从数据库中获取文件用途id
                    },
                    uploadUrl: "http://" + webSocketUri + "/web/file/upload",
                    dialogImageUrl: ""
                }
            },
            mounted() {
                this.getGoodsSortList()
                this.getFileUserList()
            },
            methods: {
                href(url) {
                    window.location.href=url
                },
                getFileUserList() {
                    let that = this
                    axios.get("/web/fileUser/getIdByName/商品")
                        .then(res => {
                            console.log("getIdByName/商品"+res.data.data.id)
                            that.uploadData = {
                                "fileUseId": res.data.data.id
                            }
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                getGoodsSortList() {
                    let that = this
                    axios.get("/web/goodsSort/list")
                        .then(res => {
                            that.goodsSortList = res.data.data
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                saveGoods(){
                    axios.post("/web/goods/save", this.form)
                        .then(res => {
                            this.$message.success(res.data.message)
                            //this.form = {}
                        })
                        .catch(err => this.$message.error(err))
                },
                handleSuccess(res, file){
                    this.form.goodsImages.push(res.data.id)
                    console.log(this.fileList)
                },
                handlePictureCardPreview(file) {
                    if (file.raw) {
                        const url = URL.createObjectURL(file.raw); // 使用URL.createObjectURL方法生成预览图片的URL
                        this.dialogImageUrl = url; // 将预览图片的URL赋值给dialogImageUrl
                        this.dialogVisible = true; // 打开对话框显示预览图片
                    }
                },
                handleRemove(file, fileList) {
                    // 删除图片时的回调函数...
                    // 获取要删除的图片ID
                    const imageId = file.response.data.id;
                    
                    // 在form中找到对应的图片ID并删除
                    const index = this.form.goodsImages.indexOf(imageId);
                    if (index > -1) {
                        this.form.goodsImages.splice(index, 1);
                    }
                    
                    // TODO 在服务端也进行图片的删除操作
                    // axios.delete("/web/file/delete/" + imageId)
                    //     .then(res => {
                    //         console.log(res);
                    //         this.$message.success(res.data.message);
                    //     })
                    //     .catch(err => {
                    //         console.error(err);
                    //         this.$message.error(err);
                    //     });
                }

            },

        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>
</html>