<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../css/element.css" />
    <script src="../../js/vue@3.js"></script>
    <script src="../../js/element-plus.js"></script>
    <script src="../../js/axios.min.js"></script>
    <link rel="stylesheet" href="./index.css">
    <script src="../../index.js"></script>
    <script src="../../module/interfaceacting220819.js"></script>
    <script src="../../module/antidomxss_v640.js"></script>
    <script src="../module/footer.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    
    <div id="app">
        <!-- <el-button @click="href('../../index.html')">主页</el-button> -->
        <el-button type="primary" @click="goBack">返回</el-button>
        <el-row>
            <el-col :span="22" v-for="(item, index) in List" :key="item.id" style="margin: 2%;">
                <el-card :body-style="{ padding: '0px' }">
                    <div @click="getDetails(item.id)">
                        <img v-if="item.goodsImagesList.length > 0" :src="item.goodsImagesList[0].image" class="image" />
                        <img v-else src="https://static.runoob.com/images/demo/demo2.jpg" class="image" />
                    </div>
                    <div style="padding: 14px">
                        <span>{{ item.name }}</span>
                        <div class="bottom">
                          <time class="time">{{ item.description }}</time>
                          <time v-if="item.status == 0" style="color: red;" class="time">出售中</time>
                          <time v-if="item.status == 1" class="time">停止出售</time>
                          <el-button v-if="item.status == 0" size="mini" @click="sellGoods(item.id,1)">停售</el-button>
                          <el-button v-else="item.status == 1" size="mini" @click="sellGoods(item.id,0)">出售</el-button>
                          <el-button size="mini" @click="deleteGoods(item.id)">删除</el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>

    <script src="./index.js" ></script>
    <script>
        
        const App = {
            data() {
                return {
                    List: {},
                }
            },
            mounted() {
                this.MyId = userDto.id
                this.getMyList(this.MyId)
            },
            methods: {
                goBack() {
                    window.history.back();
                },
                href(url) {
                    window.location.href = url
                },
                getDetails(id) {
                    window.location.href = './goods-details.html?id=' + id
                },
                deleteGoods(goodsId) {
                    let that = this
                    axios.get("/web/goods/delete/" + goodsId)
                        .then(res => {
                            // that.List = res.data.data
                            this.$message.success(res.data.message)
                            
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                sellGoods(goodsId,status) {
                    let that = this
                    axios.get("/web/goods/sell/" + goodsId + "/" + status)
                        .then(res => {
                            // that.List = res.data.data
                            this.$message.success(res.data.message)
                            
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                getMyList(MyId) {
                    let that = this
                    axios.get("/web/goods/list/" + MyId)
                        .then(res => {
                            that.List = res.data.data
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                
            },

        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.component('foot-bar', footBarComponent);
        app.mount("#app");
    </script>
</body>
</html>