form {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="phone"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  form button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  form input[type="reset"] {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  p#my-form-status {
    margin-top: 10px;
    font-size: 18px;
  }