table{
    /* border-collapse: collapse; */
	width: 100%;
}



th,td{
    border: 1px solid #999;
    text-align: center;
	text-align: center; /*让div内部文字居中*/
	background-color: #fff;
}

.main{
	text-align: center; /*让div内部文字居中*/
	background-color: #fff;
	border-radius: 20px;
	width: 100%;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* bottom: 0; */
}

