<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../css/element.css" />
    <script src="../../module/interfaceacting220819.js"></script>
    <script src="../../module/antidomxss_v640.js"></script>
    </script><script src="../../js/vue@3.js"></script>
    <script src="../../js/element-plus.js"></script>
    <script src="../../js/axios.min.js"></script>
    <link rel="stylesheet" href="./index.css">
    <script src="../../index.js"></script>
    <style>
        .comment-item {
            margin-left: 20px;
            margin-top: 10px;
        }

        .comment-info {
            font-weight: bold;
        }

        .reply-input {
            margin-top: 10px;
        }
    </style>
</head>

<body>

    <div id="app">
        <el-button type="primary" @click="goBack">返回</el-button>
        <div v-if="post!=null">
            <el-card :body-style="{ padding: '0px' }">
                <div style="padding: 14px">
                    <span>{{ post.title }}</span>
                    <div class="bottom">
                        <time class="time">{{ post.content }}</time>
                        <!-- <el-button class="button" @click="likePost(post.id)">点赞 {{ post.likeCount }}</el-button>
                        <el-button class="button" @click="href('../chat/index.html?id='+post.userDto.id)">联系同学</el-button> -->
                    </div>
                    <div class="bottom">
                        <time class="time"></time>
                        <el-button type="primary" style="margin-left: 16px" @click="drawer = true">评论</el-button>
                        <el-button class="button" @click="likePost(post.id)" :disabled="isPostLikeDisabled">点赞 {{ post.likeCount }}</el-button>
                        <!-- <el-button class="button" @click="href('../chat/index.html?id='+post.webUserDto.uid)">联系同学</el-button> -->
                        <el-button class="button" @click="href('../user/show-user.html?id='+post.webUserDto.uid)">联系同学</el-button>
                    </div>
                </div>
                <div>
                    <div v-if="post.postImageList.length > 0" v-for="item in post.postImageList" :key="item">
                        <img :src="item.image" alt="图片" style="width: 100%;" />
                    </div>
                    <div v-else>
                        <img src="https://static.runoob.com/images/demo/demo2.jpg" class="image" alt="图片" style="height: 200px;" />
                    </div>
                </div>
            </el-card>
        </div>
       
        <el-drawer v-model="drawer" title="评论区" direction="btt" size="70%">
            <div>
                <el-row>
                    <el-col style="margin-bottom: 2%">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <!-- 不加评论二字，评论框显示较慢-->
                            <div>评论：</div>
                            <div>
                                <el-input v-model="postComment" placeholder="输入评论!"/>
                            </div>
                            <div>
                                <el-button type="primary" @click="addComment()">发送</el-button>
                            </div>·
                        </div>
                    </el-col>
                    <!-- 父评论 -->
                    <el-col v-if="parentCommentList.length>0" :span="22" v-for="(item, index) in parentCommentList" :key="item.id" style="margin: 2%;">
                        <el-card :body-style="{ padding: '0px' }">
                            <div style="padding: 14px">
                                <span>{{ item.data.userDto.username }}</span>
                                <div class="bottom">
                                    <time class="time">{{ item.data.content }}</time>
                                    <el-button size="small" type="primary" style="margin-left: 16px" @click="returnParent(item.data.id)">返回</el-button>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                    <!-- 分页 -->
                    <div class="demo-pagination-block">
                        <el-pagination
                            v-model:current-page="currentPage"
                            v-model:page-size="pageSize"
                            v-model:total="totalValue"
                            :small="small"
                            :disabled="disabled"
                            :background="background"
                            layout="prev, pager, next, jumper"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                        />
                    </div>
                    <!-- 评论列表 -->
                    <el-col :span="22" v-for="(item, index) in pageDto.pageList" :key="item.id" style="margin: 2%;">
                        <el-card :body-style="{ padding: '0px' }">
                            <div style="padding: 14px">
                                <span>{{ item.userDto.username }}</span>
                                <div class="bottom">
                                    <time class="time">{{ item.content }}</time>
                                    <el-button size="small" type="primary" style="margin-left: 16px" @click="getPageListWithParent(item,0)">展开</el-button>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </div>
        </el-drawer>

    </div>

    <script src="./index.js"></script>
    <script>
        const App = {
            data() {
                return {
                    dialogFormVisible: false,
                    postComment: null,
                    parentComment: null,
                    post: null,
                    isPostLikeDisabled: false,
                    id: null,
                    postId: null,               // 当前Post的id
                    parentId: null,             // 当前父亲ID
                    parentCommentList: [],      // 记录父评论对象及父评论对应的page
                    pageDto: {
                        id: null,
                        total: 10,
                        current: 1,
                        size: 3,
                        pages: 0,
                        pageList: null
                    },
                    currentPage: 1,             // 当前页码
                    pageSize: 3,                // 每页显示的数量
                    totalValue: 0,              // 总条数
                    small: true,                // 是否使用小型分页样式
                    disabled: false,            // 是否禁用分页
                    background: false,          // 是否带有背景色
                    drawer: false,              // 控制抽屉开关
                }
            },
            mounted() {
                // 当前文章 id
                var searchParams = new URLSearchParams(location.search);
                this.postId = searchParams.get('id');
                this.pageDto.id = searchParams.get('id');
                // this.postId = "1679452096776822785"
                // 获取最新十条顶级评论
                this.getPageList()
                this.getPostById(this.postId)
                this.checkPostLike(this.postId)
            },
            methods: {
                goBack() {
                    window.history.back();
                },
                addComment() {
                    console.log(this.parentCommentList.length==0)
                    if(this.parentCommentList.length==0){
                        console.log("this.addPostComment()")
                        this.addPostComment()
                    } else {
                        this.addParentComment()
                    }
                },
                addParentComment(){
                    let that = this
                    axios.post("/web/postController/addCommentWithParent",{
                        postId: this.postId,
                        content: this.postComment,
                        parentId: this.parentId
                    })
                        .then(res => {
                            console.log("that.pageDto.pageList")
                            console.log(that.pageDto.pageList)
                            that.pageDto.pageList.unshift(res.data.data)
                            console.log(that.pageDto.pageList)
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                addPostComment() {
                    let that = this
                    axios.post("/web/postController/addCommentWithPost",{
                        postId: this.postId,
                        content: this.postComment
                    })
                        .then(res => {
                            console.log("that.pageDto.pageList")
                            console.log(that.pageDto.pageList)
                            that.pageDto.pageList.unshift(res.data.data)
                            console.log(that.pageDto.pageList)
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                checkPostLike(id){
                    let that = this
                    axios.get("/web/postLike/check/" + id)
                        .then(res => {
                            if(res.data.data==1){
                                that.isPostLikeDisabled = true
                            }
                            // this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                likePost(id){
                    let that = this
                    axios.get("/web/postLike/" + id)
                        .then(res => {
                            if(res.data.code==200){
                                that.post.likeCount = that.post.likeCount + 1
                                that.isPostLikeDisabled = true
                            }
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                getPostById(id){
                    let that = this
                    axios.get("/web/post/"+id)
                        .then(res => {
                            that.post = res.data.data
                            // this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                tranPage(){
                    console.log("tranPage")
                    this.totalValue = parseInt(this.pageDto.total)
                    this.currentPage = parseInt(this.pageDto.current)
                    this.pageSize = parseInt(this.pageDto.size)
                },
                getPageList() {
                    console.log("getPageList")
                    let that = this
                    axios.post("/web/postController/getTopComment", {
                            "current": this.currentPage,
                            "size": this.pageSize,
                            "id": this.postId
                        })
                        .then(res => {
                            that.pageDto = res.data.data
                            that.tranPage()
                            this.$message.success(res.data.message)
                        })
                        .catch(err => { this.$message.error(err) });
                },
                // mark==1代表换页，0代表查看子评论
                getPageListWithParent(item,mark) {
                    let that = this
                    if( mark==0 ){
                        // 查看子评论就要初始页数为1
                        this.currentPage = 1
                        // 如果是查看子评论，就设置父亲ID
                        this.parentId = item.id
                        this.parentCommentList.push({
                            total: that.pageDto.total,
                            current: that.pageDto.current,
                            size: that.pageDto.size,
                            pages: that.pageDto.pages,
                            data: item
                        })
                    }
                    axios.post("/web/postController/getCommentByParent", {
                            "current": this.currentPage,
                            "size": this.pageSize,
                            "id": this.parentId
                        })
                        .then(res => {
                            that.pageDto = res.data.data
                            that.tranPage()
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                returnParent(id) {
                    console.log("returnParent:"+id)
                    let that = this
                    this.id = id
                    var l = this.parentCommentList.length
                    if(l===1){
                        this.parentCommentList.pop()
                        this.getPageList()
                        return
                    } else {
                        let id1;
                        for(let i = l - 1; i >= 0; i--){
                            id1 = this.parentCommentList[i].data.id;
                            console.log(id1)
                            if (id === id1) {
                                this.id = this.parentCommentList[i-1].data.id;
                                this.parentCommentList.pop()
                                break;
                            }
                            this.parentCommentList.pop()
                        }
                        console.log(this.id)
                        this.parentId = this.id
                        axios.post("/web/postController/getCommentByParent", {
                                "current": this.currentPage,
                                "size": this.pageSize,
                                "id": this.id
                            })
                            .then(res => {
                                console.log(res.data.data)
                                that.pageDto = res.data.data
                                that.tranPage()
                                this.$message.success(res.data.message)
                            })
                            .catch(err => {
                                console.log(err);
                                this.$message.error(err)
                            });
                    }


                },
                href(url) {
                    window.location.href = url
                },
                handleSizeChange(val) {
                    console.log("handleSizeChange")
                    console.log(val)
                    this.pageDto.current = val
                    this.currentPage = val
                    if(this.parentCommentList.length==0){
                        this.getPageList()
                    }else{
                        this.getPageListWithParent(this.pageDto.data,1)
                    }
                },
                handleCurrentChange(val) {
                    console.log("handleCurrentChange")
                    console.log(val)
                    this.pageDto.current = val
                    this.currentPage = val
                    if(this.parentCommentList.length==0){
                        this.getPageList()
                    }else{
                        this.getPageListWithParent(this.pageDto.data,1)
                    }
                },
                closeDrawer(){
                    this.parentCommentList = []
                }
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>
