#footer-tools [data-v-db6ccf64][data-v-41ba7e2c]{top:unset!important;bottom:0!important;right:44px!important}
.io.icon-fw,.iconfont.icon-fw {
    width: 1.15em;
}
.io.icon-lg,.iconfont.icon-lg{
    font-size: 1.5em;
    line-height: .75em;
    vertical-align: -.125em;
}
.screenshot-carousel .img_wrapper a{display:contents}
.fancybox-slide--iframe .fancybox-content{max-width :1280px;margin:0}
.fancybox-slide--iframe.fancybox-slide{padding:44px 0}
.navbar-nav .menu-item-286 a{background: #ff8116;border-radius: 50px!important;padding: 5px 10px!important;margin: 5px 0!important;color: #fff!important;}
.navbar-nav .menu-item-286 a i{position: absolute;top: 0;right: -10px;color: #f13522;}
.io-black-mode .navbar-nav .menu-item-286 a{background: #ce9412;}
.io-black-mode .navbar-nav .menu-item-286 a i{color: #fff;}