<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的</title>
    <link rel="stylesheet" href="../../css/element.css" />
    <script src="../../js/vue@3.js"></script>
    <script src="../../js/element-plus.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../index.js"></script>
    <script src="../../module/interfaceacting220819.js"></script>
    <script src="../../module/antidomxss_v640.js"></script>
    <script src="../module/footer.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../index.css">
    <style>

        .avatar {
            display: grid;
            place-items: center;
        }
        .time {
            font-size: 12px;
            color: #999;
        }

        .bottom {
            margin-top: 13px;
            line-height: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .button {
            padding: 0;
            min-height: auto;
        }

        .image {
            width: 100%;
            display: block;
        }


    </style>
</head>
<body>
    <div id="app">
        <el-button type="primary" class="home-button" @click="href('../../index.html')">主页</el-button>
        <!-- <el-button @click="href('../login/login.html')">登录</el-button> -->
        <!-- <el-button @click="href('../login/register.html')">注册</el-button> -->
        <el-button type="primary" @click="href('../post/myPost.html')">文章</el-button>
        <el-button type="primary" @click="href('../goods/MyGoods.html')">商品</el-button>
        <el-button type="primary" @click="logout()">注销</el-button>
        <el-button type="primary" @click="href('./user.html')">用户</el-button>
        <!-- <el-button type="primary" @click="exportList()">导出</el-button> -->
        <div class="container">
            <div class="user-info" style="margin: 5%;">
              <el-card :body-style="{ padding: '0px' }">
                <div class="avatar" style="margin: 3%;">
                    <el-avatar :size="150" :src="userDto.icon"/>
                </div>
                <div style="padding: 14px">
                  <span>{{ '用户名: ' + userDto.username }}</span>
                  <div class="bottom">
                    <time class="time">{{ 'UID: ' + userDto.uid }}</time>
                    <el-button class="button" @click="href('update-user.html')">修改资料</el-button>
                  </div>
                </div>
              </el-card>
            </div>
            <el-row>
                <el-col :span="22" v-for="(item, index) in List" :key="item.id" style="margin: 2%;">
                    <el-card :body-style="{ padding: '0px' }">
                        <div @click="getDetails(item.id)">
                            <img v-if="item.postImageList.length > 0" :src="item.postImageList[0].image" class="image" />
                            <img v-else src="https://static.runoob.com/images/demo/demo2.jpg" class="image" />
                        </div>
                        <div style="padding: 14px">
                            <span>{{ item.title }}</span>
                            <div class="bottom">
                              <time class="time">{{ item.content }}</time>
                              <!-- <el-button size="mini" @click="deletePost(item.id)">删除</el-button> -->
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>

        <!-- <foot-bar :active-btn="4"></foot-bar> -->
    </div>

    <script>
        console.log(reqUrl)
        const App = {
            data() {
                return {
                    file: null,
                    List: {},
                    userDto: { 
                        "id": "id", 
                        "uid": "uid", 
                        "phone": "phone", 
                        "email": "email", 
                        "username": "username", 
                        "icon": "icon", 
                        "roleId": "roleId" },
                }
            },
            methods: {
                goBack() {
                    window.history.back();
                },
                href(url) {
                    window.location.href=url
                },
                logout(){
                    let that = this;
                    sessionStorage.removeItem("token");
                    localStorage.removeItem("token")
                    localStorage.removeItem("userDto")
                    axios.get("/auth/logout")
                        .then(res => {
                            this.$message.success(res.data.message);
                            window.location.href = '../login/login.html'
                        })
                        .catch(err => {
                            this.$message.error(err)
                        });
                },
                getDetails(id) {
                    window.location.href = '../post/post-comment.html?id=' + id
                },
                getMyList(MyId) {
                    let that = this
                    axios.get("/web/post/list/" + MyId)
                        .then(res => {
                            that.List = res.data.data
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
            },
            mounted() {
                this.userDto = userDto
                this.MyId = userDto.id
                this.getMyList(this.MyId)
                // this.getFileUserList()
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.component('foot-bar', footBarComponent);
        app.mount("#app");
    </script>
</body>
</html>