<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的</title>
    <link rel="stylesheet" href="../../css/element.css" />
    <script src="../../js/vue@3.js"></script>
    <script src="../../js/element-plus.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../index.js"></script>
    <style>

        .avatar {
            display: grid;
            place-items: center;
        }
        .time {
            font-size: 12px;
            color: #999;
        }

        .bottom {
            margin-top: 13px;
            line-height: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .button {
            padding: 0;
            min-height: auto;
        }

        .image {
            width: 100%;
            display: block;
        }


    </style>
</head>
<body>
    <div id="app">
        <el-button type="primary" class="home-button" @click="goBack">返回</el-button>
        <div class="container">
            <div class="user-info" style="margin: 5%;">
              <el-card :body-style="{ padding: '0px' }">
                <div class="avatar" style="margin: 3%;">
                    <el-avatar :size="150" :src="webUserDto.icon"/>
                </div>
                <div style="padding: 14px">
                  <span>{{ '用户名: ' + webUserDto.username }}</span>
                  <div class="bottom">
                    <time class="time">{{ 'UID: ' + webUserDto.uid }}</time>
                    <el-button v-if="isFriend" class="button" @click="href('../chat/index.html?id='+webUserDto.uid)">聊天</el-button>
                    <el-button v-else class="button" @click="addFriend(webUserDto.uid)">添加</el-button>

                  </div>
                </div>
              </el-card>
            </div>
            <el-row>
                <el-col :span="22" v-for="(item, index) in List" :key="item.id" style="margin: 2%;">
                    <el-card :body-style="{ padding: '0px' }">
                        <div @click="getDetails(item.id)">
                            <img v-if="item.postImageList.length > 0" :src="item.postImageList[0].image" class="image" />
                            <img v-else src="https://static.runoob.com/images/demo/demo2.jpg" class="image" />
                        </div>
                        <div style="padding: 14px">
                            <span>{{ item.title }}</span>
                            <div class="bottom">
                              <time class="time">{{ item.content }}</time>
                              <!-- <el-button size="mini" @click="deletePost(item.id)">删除</el-button> -->
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </div>

    <script>
        console.log(reqUrl)
        const App = {
            data() {
                return {
                    webUserDto: {},
                    isFriend: false,
                    List: {}
                }
            },
            methods: {
                getDetails(id) {
                    window.location.href = '../post/post-comment.html?id=' + id
                },
                getMyList(Uid) {
                    let that = this
                    axios.get("/web/post/list/" + Uid)
                        .then(res => {
                            that.List = res.data.data
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                goBack() {
                    window.history.back();
                },
                addFriend(uid) {
                    axios.get("/web/user-friend/add/" + uid)
                        .then(res => {
                            if(res.data.code==200){
                                this.$message.success(res.data.message)
                            } else {
                                this.$message.error(res.data.message)
                            }
                        })
                        .catch(err => {
                            this.$message.error(err)
                        });
                },
                href(url) {
                    window.location.href=url
                },
                getUserAndCheckById(id){
                    // 获取并检查你是不是该用户的好友
                    let that = this;
                    axios.get("/web/user/uid/" + id)
                        .then(res => {
                            this.webUserDto = res.data.data
                            this.getMyList(res.data.data.id)
                        })
                        .catch(err => {
                            this.$message.error(err)
                        });
                    axios.get("/web/user-friend/check/" + id)
                        .then(res => {
                            if(res.data.code==200){
                                this.isFriend = true
                                // this.$message.success(res.data.message)
                            } else {
                                // this.$message.error(res.data.message)
                            }
                        })
                        .catch(err => {
                            this.$message.error(err)
                        });
                }
            },
            mounted() {
                var searchParams = new URLSearchParams(location.search);
                var id = searchParams.get('id');
                // 获取用户信息
                this.getUserAndCheckById(id)
                
                // 检查是不是好友
                // 如果是就显示聊天
                // 如果不是就显示添加

            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>
</html>