<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./static/css/element.css" /> -->
    <link rel="stylesheet" href="./static/css/element-plus@2.3.7.css" />
    <!-- <link rel="stylesheet" href="./static/css/element-ui@2.15.13.css" /> -->
    <script src="./static/js/vue@3.js"></script>
    <!-- <script src="./static/js/element-plus.js"></script> -->
    <script src="./static/js/element-plus@2.3.7.js"></script>
    <!-- <script src="./static/js/element-ui@2.15.13.js"></script> -->
    <script src="./static/js/axios.min.js"></script>
    <script src="./static/js/icon-element.js"></script>
    <script src="./static/js/jquery-3.7.0.js"></script>

    <script src="./static/js/1.0.0_jquery-extendext.js"></script>
    <script src="./static/js/doT.js"></script>
    <link rel="stylesheet" href="./static/css/query-builder.default.min.css">
    <script src="./static/js/query-builder.min.js"></script>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/query-builder.zh-CN.js"></script>
    <script src="./static/js/sql-parser.js"></script>
    <script src="./static/js/moment.min.js"></script>
    <link rel="stylesheet" href="index.css">
    <!-- 导出excel -->
    <script src="./static/js/dist_xlsx.full.min.js"></script>
</head>

<body>
    <br>
    <div id="builder-basic" class="query-builder form-inline query-build"></div>
    <div id="app">
        <div>
            <div class="btn-group">
                <button @click="setDefault" class="btn btn-warning reset" data-target="basic">重置</button>
                <button @click="querySQL" class="btn btn-primary parse-json" data-target="basic">查询</button>
                <button class="btn btn-success set-json" data-target="basic" @click="exportTableToExcel()">保存为Excel</button>
            </div>
        </div>
        <br>
        <div>
            <strong v-if="sql!=null">SQL：{{sql}}</strong>
        </div>
        <br>
        <el-table
            :data="actCardResults"
            border
            style="width: 100%">
            <el-table-column
                v-for="h in headers" :key="h.prop"
                :prop="h.prop"
                :label="h.text"
        
                :align="h.align"
            >
            </el-table-column>
        </el-table>
    </div>

    <script src="index.js"></script>
    <script>

        // let reqUrl = "http://127.0.0.1"
        let reqUrl = ""
        const App = {
            data() {
                return {
                    sql: null,
                    actCardResults: null,
                    headers: [
                        {prop: "id", text: "ID", width: 0, align: "center"},
                        {prop: "userId", text: "userId", width: 0, align: "center"},
                        {prop: "name", text: "name", width: 0, align: "center"},
                        {prop: "createTime", text: "createTime", width: 0, align: "center"},
                        {prop: "type", text: "type", width: 0, align: "center"}
                    ],
                    sqlDto: {
                        sql: null,
                        sqlTemplate: null,
                        parameters: []
                    }
                }
            },
            methods: {
                setDefault() {
                    $('#builder-basic').queryBuilder('setRules', rules_basic);
                },
                querySQL() {
                    let that = this;
                    // 获取 sql
                    var result = $('#builder-basic').queryBuilder('getSQL', null);
                    // 获取 sqlTemplate 和 parameters
                    var result_question_mark = $('#builder-basic').queryBuilder('getSQL', 'question_mark');
                    // 将获取到的 sql 存储到组件实例的属性中
                    this.sql = result.sql
                    // 将获取到的 sql 模板、参数存储到 sqlDto 对象中的属性中
                    this.sqlDto.sql = result.sql
                    this.sqlDto.sqlTemplate = result_question_mark.sql
                    this.sqlDto.parameters = result_question_mark.params   
                    // 发起异步请求，查询符合条件的数据
                    axios.post(reqUrl + "/actCardResult/queryBuilder",this.sqlDto)
                        .then(res => {
                            if(res.data.errorMsg!=null) {
                                alert("参数错误！")
                            }else {
                                that.actCardResults = res.data.data
                            }
                            
                        })
                        .catch(err => {
                            console.log(err);
                        });
                },
                exportTableToExcel() {
                    // 获取 el-table 中的 HTML 元素
                    let table = document.querySelector('.el-table__body-wrapper table');

                    // 使用 xlsx-style 将 HTML 表格转换为工作簿对象（Workbook Object）
                    let wb = XLSX.utils.table_to_book(table, {sheet:"Sheet Name"});

                    // 将工作簿对象写入 Excel 文件，并下载该文件
                    XLSX.writeFile(wb, 'mytable.xlsx');
                }

            },
            created() {
                
            },
            mounted() {

            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");

    </script>
</body>
</html>