<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/element.css" />
    <script src="js/vue@3.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/axios.min.js"></script>
    <!-- <script src="js/marked.js"></script> -->
    <link rel="stylesheet" href="css/highlight.default.min.css">
    <script src="js/highlight.min.js"></script>
    <style>

        /* 回到顶部 */
        #back-to-top {
            position: fixed;
            right: 20px;
            bottom: 80px;
        }

        /* 目录 */
        .catalogue {
            text-decoration: none; /* 去掉下划线 */
            color: rgb(0, 0, 0); /* 修改文字颜色为红色 */
        }

    </style>
</head>
<body>
    <div id="app">
        <el-affix :offset="0">
            <el-collapse>
                <el-collapse-item title="文章列表" icon-position="right">
                    <div v-for="(item, index) in contents" :key="index">
                        <el-card shadow="always" @click="getMarkdown(item[1]+'-'+item[0])">{{item[1]}} {{item[0]}}</el-card>
                    </div>
                </el-collapse-item>
            </el-collapse>
            <el-collapse>
                <el-collapse-item title="文章索引" icon-position="right">
                  <div v-for="(title, index) in titles" :key="index">
                    <a :href="'#'+title.id" class="catalogue">{{title.title}}</a>
                  </div>
                </el-collapse-item>
            </el-collapse>
        </el-affix>
        <div id="markdown" style="width: 100%;"></div> 
        <!-- 页面底部回到顶部按钮 -->
        <div id="back-to-top">
            <el-button icon="el-icon-arrow-up" circle @click="backToTop"></el-button>
        </div>

        <!-- 文章列表 -->
        <!-- <div v-for="(item, index) in contents" :key="index">
            <el-button @click="getMarkdown(item[1]+'-'+item[0])">{{item[0]}}</el-button>
        </div>                 -->
        <!-- 文章索引 -->
        <!-- <div v-for="(title, index) in titles" :key="index">
            <a :href="'#'+title.title">{{title.title}}</a>
        </div> -->
        <!-- 内容 -->
        <!-- <div id="markdown">
        </div> -->
    </div>

    <script>
        const App = {
            data() {
                return {
                    contents: [],
                    titles: [],
                }
            },
            methods: {
                getMarkdown(markdown) {
                    let that = this;
                    axios
                        .get("https://nav.xiaozaiz.xyz/blog/note/"+markdown)
                        .then(function(res){
                            let _that = that
                            document.getElementById("markdown").innerHTML = res.data
                            // 获取文章主要内容
                            let content = document.querySelector('div.container-lg.px-3.my-5.markdown-body').innerHTML;
                            document.getElementById("markdown").innerHTML = content
                            // 删除第一个<h1>标签
                            const h1Element = document.querySelector('h1');
                            h1Element.parentNode.removeChild(h1Element);
                            // 亮高处理
                            hljs.highlightAll();

                            // 获取文章标题
                            that.titles = [];
                            const headings = document.querySelectorAll('h1,h2,h3,h4,h5,h6');
                            headings.forEach(heading => {
                                const level = heading.tagName;
                                const title = heading.textContent;
                                const id = heading.id;
                                const titleObj = { level, title, id }; 
                                that.titles.push(titleObj); 
                            });
                        })
                        .catch(function(err){
                            alert("获取文章失败！")
                        });
                },
                backToTop() {
                    // 回到顶部
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                },
            },
            mounted() {
                let that = this;
                axios
                    .get("https://nav.xiaozaiz.xyz/blog/contents.json")
                    .then(function(res){
                        that.contents = res.data.contents
                    })
                    .catch(function(err){
                        alert("获取文章列表失败！")
                    });
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>
</html>