<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/element.css" />
    <script src="js/vue@3.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/marked.js"></script>
    <link rel="stylesheet" href="css/highlight.default.min.css">
    <script src="js/highlight.min.js"></script>
    <style>

        /* 回到顶部 */
        #back-to-top {
            position: fixed;
            right: 20px;
            bottom: 80px;
        }

    </style>
</head>
<body>
    <div id="app">
        <el-collapse>
            <el-collapse-item title="文章列表" icon-position="right">

              <div v-for="(item, index) in contents" :key="index">
                <el-button @click="getMarkdown(item[1]+'-'+item[0])">{{item[0]}}</el-button>
              </div>
            </el-collapse-item>
        </el-collapse>
        <el-collapse>
            <el-collapse-item title="文章索引" icon-position="right">

              <div v-for="(title, index) in titles" :key="index">
                <a :href="'#'+title.title">{{title.title}}</a>
              </div>
            </el-collapse-item>
        </el-collapse>

        <div id="markdown"></div> 
        <!-- 页面底部回到顶部按钮 -->
        <div id="back-to-top">
            <el-button icon="el-icon-arrow-up" circle @click="backToTop"></el-button>
        </div>

        <!-- 文章列表 -->
        <!-- <div v-for="(item, index) in contents" :key="index">
            <el-button @click="getMarkdown(item[1]+'-'+item[0])">{{item[0]}}</el-button>
        </div>                 -->
        <!-- 文章索引 -->
        <!-- <div v-for="(title, index) in titles" :key="index">
            <a :href="'#'+title.title">{{title.title}}</a>
        </div> -->
        <!-- 内容 -->
        <!-- <div id="markdown">
        </div> -->
    </div>

    <script>
        const App = {
            data() {
                return {
                    contents: [],
                    titles: [],
                }
            },
            methods: {
                getMarkdown(markdown) {
                    let that = this;
                    axios
                        .get("https://nav.xiaozaiz.xyz/blog/note/"+markdown)
                        .then(function(res){
                            let _that = that
                            // 获取文章内容并使用markjs和highlightjs修饰
                            document.getElementById("markdown").innerHTML = marked(res.data)
                            hljs.highlightAll();
                            // 获取文章标题
                            that.titles = []
                            const headings = document.querySelectorAll('h1,h2')//,h3,h4,h5,h6')
                            headings.forEach(heading => {
                                const level = heading.tagName;
                                const title = heading.textContent;
                                const titleObj = { level, title }; // 将标题级别和标题内容存储在对象中
                                _that.titles.push(titleObj); // 将标题对象添加到titles数组中
                            });
                        })
                        .catch(function(err){
                            alert("获取文章失败！")
                        });
                },
                backToTop() {
                    // 回到顶部
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                },

            },
            mounted() {

                let that = this;
                axios
                    .get("https://nav.xiaozaiz.xyz/blog/contents.json")
                    .then(function(res){
                        that.contents = res.data.contents
                    })
                    .catch(function(err){
                        alert("获取文章列表失败！")
                    });
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>
</html>