<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/element.css" />
    <script src="js/vue@3.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/icon-element.js"></script>
    <script src="js/axios.min.js"></script>
    <!-- <script src="js/marked.js"></script> -->
    <link rel="stylesheet" href="css/highlight.default.min.css">
    <script src="js/highlight.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <div>
            <el-collapse>
                <el-collapse-item title="文章列表" icon-position="right">
                    <div v-for="(item, index) in contents" :key="index">
                        <el-card shadow="always" @click="getMarkdown(item[1]+'-'+item[0])">{{item[1]}} {{item[0]}}</el-card>
                    </div>
                </el-collapse-item>
            </el-collapse>
            <el-collapse>
                <el-collapse-item title="文章索引" icon-position="right">
                    <div v-for="(title, index) in titles" :key="index">
                        <a :href="'#' + title.id" 
                        class="catalogue" 
                        :style="{ fontWeight: title.level <= 2 ? 'bold' : 'normal' }" 
                        v-html="'&nbsp;'.repeat((title.level - 1)*2) + title.title"></a>
                    </div>
                </el-collapse-item>
            </el-collapse>
            <div id="markdown"></div>
        </div>

        <!-- 页面底部回到顶部按钮 -->
        <div id="back-to-top">
            <div @click="backToTop">
                <el-button>
                    <i class="el-icon" data-v-ea893728="" style="font-size: 20px;"><svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" data-v-ea893728=""><path fill="currentColor" d="M572.235 205.282v600.365a30.118 30.118 0 1 1-60.235 0V205.282L292.382 438.633a28.913 28.913 0 0 1-42.646 0 33.43 33.43 0 0 1 0-45.236l271.058-288.045a28.913 28.913 0 0 1 42.647 0L834.5 393.397a33.43 33.43 0 0 1 0 45.176 28.913 28.913 0 0 1-42.647 0l-219.618-233.23z"></path></svg></i>
                </el-button>
            </div>
        </div>
        <!-- 页面底部回到顶部按钮 -->
        <!-- <div id="back-to-top">
            <div @click="backToTop"></div> -->
            <!-- </el-button> -->
        <!-- </div> -->
        <!-- 文章列表 -->
        <!-- <div v-for="(item, index) in contents" :key="index">
            <el-button @click="getMarkdown(item[1]+'-'+item[0])">{{item[0]}}</el-button>
        </div>                 -->
        <!-- 文章索引 -->
        <!-- <div v-for="(title, index) in titles" :key="index">
            <a :href="'#'+title.title">{{title.title}}</a>
        </div> -->
        <!-- 内容 -->
        <!-- <div id="markdown">
        </div> -->
    </div>
    <script src="contents.js"></script>
    <script>
        const App = {
            data() {
                return {
                    contents: [],
                    titles: [],
                }
            },
            methods: {
                getMarkdown(markdown) {
                    let that = this;
                    axios
                        .get("https://nav.xiaozaiz.xyz/K/blog/note/"+markdown)
                        .then(function(res){
                            let _that = that
                            const parser = new DOMParser();
                            const htmlDoc = parser.parseFromString(res.data, 'text/html');
                            const bodyContent = htmlDoc.body.innerHTML;
                            document.getElementById("markdown").innerHTML = bodyContent
                            let container = document.querySelector('div.container-lg.px-3.my-5.markdown-body');
                            let content = container.innerHTML;
                            document.getElementById("markdown").innerHTML = content
                            // let _that = that
                            // document.getElementById("markdown").innerHTML = res.data
                            // // 获取文章主要内容
                            // let content = document.querySelector('div.container-lg.px-3.my-5.markdown-body').innerHTML;
                            // document.getElementById("markdown").innerHTML = content
                            // 删除第一个<h1>标签
                            const h1Element = document.querySelector('h1');
                            h1Element.parentNode.removeChild(h1Element);
 
                            // 初始化 highlight.js
                            hljs.initHighlightingOnLoad();
                            // 手动高亮显示代码块
                            let preCode = document.querySelector('pre code')
                            if(preCode){
                                hljs.highlightBlock(preCode);
                            }
                            
                            // 获取文章标题
                            that.titles = [];
                            const headings = document.querySelectorAll('h1,h2,h3,h4,h5,h6');
                            headings.forEach(heading => {
                                const level = heading.tagName.charAt(1);
  
                                const title = heading.textContent;
                                const id = heading.id;
                                const titleObj = { level, title, id }; 
                                that.titles.push(titleObj); 
                            });
                        })
                        // .catch(function(err){
                        //     alert("获取文章失败！")
                        // });
                },
                backToTop() {
                    // 回到顶部
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                },
            },
            mounted() {
                this.contents = Contents_index
                this.getMarkdown(Contents_index[0][1]+"-"+Contents_index[0][0])
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>
</html>