<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>导航</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="stylesheet" type="text/css" href="css/input.css">
</head>
<body>
    <div id="app">
        <table class="main">
            <tr>
                <td style="width: 25px;"><h2>搜索</h2></td>
                <td style="width: 50px;">
                    <table>
                        <tr v-for="(v,k) in ses">
                            <!-- <td><a :href="v" target="Iframe"><input type="button" :value="k"></a></td> -->
                            <td><input type="submit" 
                                :value="k" 
                                :onclick="wlh+'\''+v+'\''"
                                class="input1"></td>
                        </tr>
                    </table>
                </td>
                <td rowspan="0">
                    <iframe src="https://cn.bing.com/" frameborder="0" height="100%" width="100%"></iframe>
                </td>
            </tr>
            </tr>
            <tr>
                <td style="width: 25px;"><h2>社区</h2></td>
                <td  style="width: 50px;">
                    <table>
                        <tr v-for="(v,k) in oscs">
                            <td><input type="submit" 
                                :value="k" 
                                :onclick="wlh+'\''+v+'\''"
                                class="input2"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 25px;"><h2>导航</h2></td>
                <td style="width: 50px;">
                    <table>
                        <tr v-for="(v,k) in webs">
                            <td><input type="submit" 
                                :value="k" 
                                :onclick="wlh+'\''+v+'\''"
                                class="input1"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 25px;"><h2>工具</h2></td>
                <td style="width: 50px;">
                    <table>
                        <tr v-for="(v,k) in tools">
                            <td><input type="submit" 
                                :value="k" 
                                :onclick="wlh+'\''+v+'\''"
                                class="input2"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 25px;"><h2>API</h2></td>
                <td style="width: 50px;">
                    <table>
                        <tr v-for="(v,k) in apis">
                            <td><input type="submit" 
                                :value="k" 
                                :onclick="wlh+'\''+v+'\''"
                                class="input1"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>



    <script src="js/vue2.js"></script>
    <script>
        new Vue ({
            el: "#app",
            data: {
                wlh: 'window.location.href=',
                // 表头信息
                tHeads: {
                    'ses': '搜索',
                    'oscs': 'OSCS',
                    'webs': '网站',
                    'tools': '工具',
                    'apis': 'API'
                },
                // 搜索引擎
                ses: {
                    '必应': 'https://cn.bing.com/',
                    '百度': 'https://www.baidu.com/',
                },
                // 开放源代码（Open source code）
                oscs: {
                    'gitee': 'https://gitee.com/',
                    'github': 'https://github.com/',
                    'Hacker News':'https://thehackernews.com/',
                    'Universe UI':'https://uiverse.io/',
                },
                // 社区
                webs: {
                    'springboot中文社区':'https://springboot.io/',
                    'OSChina:中文开源社区':'https://www.oschina.net/',
                    'W3schools':'https://www.w3schools.cn/',
                    'W3cschool':'https://www.w3cschool.cn/',
                    'ItEye':'https://www.iteye.com/',
                    'stackoverflow':'https://stackoverflow.co/',
                    'stackoverflow中文网':'https://stackoverflow.org.cn/',

                },
                // 工具
                tools: {
                    'UI库':'store/UI_store/UI_store.html',
                    '编程技术栈': 'store/CP_store/CP_store.html',
                    '在线生成透明ICO':'http://www.ico51.cn/',
                    'aixcoder代码搜索':'https://codesearch.aixcoder.com/#/',
                    'element.ui':'https://element.eleme.cn/#/zh-CN',
                },
                // API
                apis: {
                    '在线中文api':'https://www.matools.com/api',
                    'Thymeleaf': 'https://www.thymeleaf.org/',
                    'JDK17':'https://docs.oracle.com/en/java/javase/17/docs/api/index.html',
                    'JavaEE7':'https://docs.oracle.com/javaee/7/api/toc.htm',
                    'Spring 中文文档':'https://springdoc.cn/',
                    'Ditect免费编程教程':'https://zditect.com/',
                    'API参考文档':'https://tool.oschina.net/apidocs#J',
                    'Spring官网':'https://spring.io/',
                    'MyBatis':'https://mybatis.org/mybatis-3/zh/index.html',
                    'Spring中文网':'https://springref.com/',
                    'Spring Boot 中文文档':'http://felord.cn/_doc/_springboot/2.1.5.RELEASE/_book/',
                },
                dxjs: {

                    '':'',
                    '':'',
                    '':'',
                    '':'',
                    '':'',
                }
            }
        })
    </script>
</body>
</html>