<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/element.css" />
    <script src="js/vue@3.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/icon-element.js"></script>
    <script src="index.js"></script>
</head>

<body>
    
    <div id="app">
        <el-button @click="href('../nav/index.html')">返回</el-button>
        <el-button @click="href('./pages/coupons/index.html')">优惠卷测试</el-button>

        <el-collapse>
            <el-collapse-item title="登录测试" icon-position="right">
                <el-button @click="href('./pages/login/index.html')">登录</el-button>
                <el-button @click="testLoginIntercept()">测试登录</el-button>
            </el-collapse-item>
            <el-collapse-item title="缓存测试" icon-position="right">
                <p>缓存穿透：空值（√）、布隆过滤器</p>
                <p>缓存击穿：逻辑过期（√）、互斥锁</p>
                <p>缓存雪崩：随机 TTL、限流降级</p>
                <p>测试 id：(存在Long前后端精度问题)
                    <span v-for="(item,index) in userList" :key="index"><br>{{item.id}}</span>
                </p>
                <input type="text" placeholder="输入用户 id" v-model="userId" style="width: 20%; margin-right: 3%;">
                <el-button @click="getUserByIdWithRedisLocalExpire()">获取用户信息</el-button>
                <div v-if="userForm!=null">
                    <div v-if="userForm.id!=null">id：{{userForm.id}}</div>
                    <div v-if="userForm.phone!=null">phone：{{userForm.phone}}</div>
                    <div v-if="userForm.email!=null">email：{{userForm.email}}</div>
                    <div v-if="userForm.nickName!=null">nickName：{{userForm.nickName}}</div>
                    <div v-if="userForm.icon!=null & userForm.icon!=''">icon：{{userForm.icon}}</div>
                </div>
            </el-collapse-item>
        </el-collapse>
    </div>

    <script>
        const App = {
            data() {
                return {
                    userId: null,
                    userForm: {},
                    userList: []
                }
            },
            methods: {
                href(url) {
                    window.location.href=url
                },
                testLoginIntercept(){
                    axios.get("/user/test/login/intercept")
                        .then(res => {
                            console.log(res);
                            this.$message.success(res.data.message)
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                getUserByIdWithRedisLocalExpire() {
                    let that = this;
                    axios.get("/user/"+this.userId)
                        .then(res => {
                            if(!res.data.errorMsg){
                                this.$message.success(res.data.message)
                            }else {
                                this.$message.error(res.data.message)
                            }
                            that.userForm = res.data.data
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                }
            },
            mounted() {
                let that = this;
                axios.get("/user")
                    .then(res => {
                        that.userList = res.data.data
                    })
                    .catch(err => {
                        this.$message.error(err)
                    });
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");

    </script>
</body>
</html>