<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/element.css" />
    <script src="../../js/vue@3.js"></script>
    <script src="../../js/element-plus.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../index.js"></script>
    <link rel="stylesheet" href="./blog-edit.css">
    <style>
        input[type="file"] {
          margin-bottom: 10px;
        }
        
        .progress-bar {
          width: 100%;
          height: 20px;
          background-color: #eee;
          border-radius: 5px;
          overflow: hidden;
        }
        
        .progress {
          height: 100%;
          background-color: #4CAF50;
          text-align: center;
          line-height: 20px;
          color: #fff;
          transition: width 0.3s ease-in-out;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-button @click="href('./index.html')">评论列表</el-button>
        <div>
            <input type="file" ref="file" v-on:change="uploadFile()">
            <div class="progress-bar">
              <div class="progress" :style="{width: uploadSpeed + '%'}">{{uploadSpeed}}</div>
            </div>
        </div>
        <div>
            <el-input v-model="blog.title" :value="blog.title" placeholder="标题"></el-input>
            <el-input v-model="blog.content" :value="blog.content" placeholder="内容"></el-input>
            <el-button @click="submitBlog()" style="width: 100%; background-color:rgb(0, 8, 255); color: #fff;">发送</el-button>
        </div>
    </div>
    <script>
        const App = {
            data() {
                return {
                    uploadSpeed: 0,
                    imageUrl: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
                    file: {},
                    blog: {
                        title: '',
                        content: '',
                        images: ''
                    }
                }
            },
            methods: {
                href(url) {
                    window.location.href=url
                },
                submitBlog() {
                    this.blog.images = this.imageUrl
                    axios.post("/blog", this.blog)
                        .then(res => {
                            this.$message.success("发送成功！")
                        }).catch(err => {});
                },
                uploadFile(){
                    let that = this;
                    let formData = new window.FormData();
                    let file = that.$refs.file.files[0]; //找到ref别名
                    this.file = file
                    this.filename = file.name
                    // 获取文件的md5，使用file.name+file.size+file.type
                    axios.post("/file/md5",{fileForm: file.name+file.size+file.type})
                        .then(res => {
                            let key = res.data.data
                            let fileName = file.name; // 文件名
                            let suffix = fileName.substring(fileName.lastIndexOf(".")+1,fileName.length).toLowerCase();
                            //文件分片
                            let shardSize = 1 * 1024  * 1024; //一个分片1MB大小
                            let shardIndex = 1; //分片索引 1标识第一个分片 不要从0开始
                            let size = file.size; 
                            let shardTotal = Math.ceil(size / shardSize); //总片数
                            let use = "T";
                            let param = {
                                'shardIndex': shardIndex,
                                'shardSize': shardSize,
                                'shardTotal': shardTotal,
                                'fileUse': use,
                                'name': file.name,
                                'suffix': suffix,
                                'size': file.size,
                                'md5Key': key
                            };
                            console.log(param)
                            // that.upload(param);
                            //参数准备完毕之后调用check方法 校验后台分片是否为断点
                            that.check(param);
                        }).catch(err => {});
                },
                //计算分片
                getFileShard(shardIndex,shardSize){
                    let that = this;
                    let file = that.$refs.file.files[0];
                    let start = (shardIndex - 1) * shardSize;	//当前分片起始位置
                    let end = Math.min(file.size, start + shardSize); //当前分片结束位置
                    let fileShard = file.slice(start, end); //从文件中截取当前的分片数据
                    return fileShard;
                },
                upload(param){
                    let that = this;
                    let shardIndex = param.shardIndex;
                    let shardTotal = param.shardTotal;
                    let shardSize = param.shardSize;
                    // 获得分片
                    let fileShard = that.getFileShard(shardIndex,shardSize);
                    console.log("fileShard:")
                    console.log(fileShard)
                    // 图片转化成 Base64 传递
                    let fileReader = new FileReader();
                    // 增加事件监听
                    fileReader.onload = function(e){
                        let base64 = e.target.result;
                        //给param对象增加一个shard参数
                        param.shard = base64;
                        axios.post("/file/upload",param)
                            .then(res => {
                                let file = res.data.data;
                                that.imageUrl = file.path
                                that.uploadSpeed = parseFloat(((file.shardIndex-1) * 100 / file.shardTotal).toFixed(3));
                                console.log("进度:"+parseInt((file.shardIndex-1) * 100 / file.shardTotal))
                                //如果当前分片索引 小于等于 总的片数
                                if(file.shardIndex <= file.shardTotal){
                                    that.upload(file);
                                }else {
                                    that.$message.success("文件上传完成！")
                                }
                            }).catch(err => {})
                    }
                    fileReader.readAsDataURL(fileShard);
                },
                check (param) {
                    let that = this;
                    axios.get("/file/check/"+param.md5Key)
                        .then(res => {
                            console.log(res.data);
                            let file = res.data.data;
                            if(res.data.errorMsg!=null){
                                param.shardIndex = 1;
                                console.log("没有找到文件记录，从分片1开始上传");
                                this.$message.success("文件开始上传！")
                                that.upload(param);
                            } else {
                                this.$message.success(res.data.message)
                                that.uploadSpeed = parseInt(100)
                                that.imageUrl = file.path
                            }
                        }).catch(err => {});
                },
            },
            mounted() {

            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>
</html>