body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
  
a {
    font-size: 22px; /* 设置字体大小为18像素 */
    display: block; /* 将a标签设为块级元素 */
    padding: 10px; /* 添加内边距撑满整个li元素 */
    text-decoration: none;
    color: black;
}

/* 鼠标按下时 */
a:active {
    transform: translateY(1px); /* 向下移动 1 像素 */
  }
  
/* 获得焦点时（即用户使用 Tab 键或鼠标点击链接） */
a:focus {
    outline: none; /* 去掉默认的虚线框 */
    box-shadow: 0 0 5px #00FFFF; /* 添加一个浅蓝色的阴影效果 */
}

#navigation {
    display: flex;
}
#index {
    flex: 1;
    padding: 16px;
}
#content {
    flex: 3;
    padding: 16px;
    border-left: 1px solid #ddd;
}
.link {
    margin-bottom: 8px;
}